#masthead {
  background-color: var(--color-theme-4);
  color: white;
}
#projects  {
  background: var(--section-bg-1);
}
.skills {
  margin-bottom: var(--size-200);
}
#skills-list {
  display: flex;
  align-items: center;
  justify-self: center;
}
.projects-list {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr) );
  gap: var(--size-400);
}
.projects-list st-card {
  width: 100%;
}
#about {
  background: var(--section-bg-2);
}
#about::part(content) {
  width: 100%;
}
.intro {
  white-space: pre-line;
  font-size: var(--font-size-200);
  color: var(--color-gray-100);
  margin-bottom: var(--size-100);
}
.about-grid {
  display: grid;
  gap: var(--size-200);
}
.about-grid img {
  max-width: 100%;
  border: 2px solid grey;
}
#name-header::part(heading) {
  font-size: 2em;
}
#category-header::part(heading) {
  font-size: 1.5em;
  text-decoration: none;
  color: var(--color-theme-4);
}
#main-text {
  display: grid;
  column-gap: var(--spacer-400);
}
.categories {
  display: flex;
  justify-content: space-evenly;
}
.categories ion-icon {
  font-size: 128px;
}
.category ion-icon {
  display: block;
}
@media screen and (min-width: 600px) {
  #name-header::part(heading) {
    font-size: 3em;
  }
}
@media screen and (min-width: 900px) {
  #name-header::part(heading) {
    font-size: 4em;
  }
  .about-grid {
    grid-template-columns: 50% 50%;
  }
}
@media screen and (min-width: 1200px) {
  #name-header::part(heading) {
    font-size: 6em;
  }
  #name-header::part(description) {
    font-size: 1.5em;
  }
}