<!-- <h1 class="header"  style="background:white">Memories</h1>
<div class="content" ng-controller="PersonalController">
  <div class="mainSlider">
    <slick variableWidth=true centerMode=true dots=true>
      <div ng-repeat="image in carouselImages">
        <img ng-src="{{image.src}}">
      </div>
    </slick>
  </div>
  <div class="otherStuff">
  </div>
</div> -->
<div class="content bio" ng-controller="PersonalController" style="margin: 0 20%">
  <div layout="row" class="bioHeader">
    <div class="bioInfo" flex="65">
      <div id="bioName">
        <p>Sean Teramae</p>
      </div>
      <div id="bioDetail" layout="row" layout-align="space-around center">
        <div id="bioAddress">
          <p>{{bioAddress}}</p>
        </div>
        <div id="bioEmail">
          <p>{{bioEmail}}</p>
        </div>
        <div id="bioPhone">
          <p>{{bioPhone}}</p>
        </div>
      </div>
    </div>
    <div class="bioImage" flex="35">
      <img ng-src="{{bioImage}}">
    </div>
  </div>
  <hr />
  <div layout="row" class="bioEducation">
    <div id="educationLogo" flex="20">
      <i class="material-icons">school</i>
      <p>Education</p>
    </div>
    <hr class="vertical"/>
    <div id="educationText" flex="80">
    </div>
  </div>
  <hr />
  <div layout="row" class="bioEducation">
    <div id="educationText" flex="80">
    </div>
    <hr class="vertical"/>
    <div id="educationLogo" flex="20">
      <i class="material-icons">business_center</i>
      <p>Work</p>
    </div>
  </div>
  <hr />
  <div layout="row" class="bioEducation">
    <div id="educationLogo" flex="20">
      <i class="material-icons">edit</i>
      <p>Projects</p>
    </div>
    <hr class="vertical"/>
    <div id="educationText" flex="80">
    </div>
  </div>
  <hr />
</div>
