<div class="main">
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom md-center-tabs>
      <md-tab label="Personal Life">
        <div ng-include="'public/personal/views/personal.html'">
        </div>
      </md-tab>
      <md-tab label="Hearthstone">
        <div ng-include="'public/hearthstone/views/hearthstone.html'">
        </div>
      </md-tab>
      <!-- <md-tab label="Tab 3">
        <div ng-include="'public/hearthstone/views/hearthstone.html'">
        </div>
      </md-tab> -->
    </md-tabs>
  </md-content>
</div>
