<div style="padding:20px;">
<a href="{{project.link}}" style="text-decoration:none; color:black;">
  <md-content>
    <md-card style="cursor:pointer" ui-sref="{{((project.state) || (null))}}">
      <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{project.projectName}}
                <ng-show ="project.icon">
                <i class='material-icons'>{{project.icon}}</i>
                </ng-show>
            </span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>
        <p>
            {{project.description}}
        </p>
      </md-card-content>
    </md-card>
  </md-content>
</a>
</div>
