/*-------------------------
	General Styles
--------------------------*/


body{
	color: black;
}

a, a:visited {
	outline:none;
	color:#389dc1;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside, nav{
	display: block;
}


/*-------------------------
	The Menu
--------------------------*/


nav{
	display:inline-block;
	margin:0px;
	background-color:#79b3ea;
	box-shadow:0 1px 1px #ccc;
  width:100%;

}

nav a{
	display:inline-block;
	padding: 18px 30px;
	color:#fff !important;
	font-weight:bold;
	font-size:14px;
	text-decoration:none !important;
	line-height:1;
	text-transform: uppercase;
	background-color:transparent;
  margin: 0 10px;

	-webkit-transition:background-color 0.25s;
	-moz-transition:background-color 0.25s;
	transition:background-color 0.25s;
}

nav a:first-child{
	border-radius:2px 0 0 2px;
}

nav a:last-child{
	border-radius:0 2px 2px 0;
}

nav.home .home,
nav.team.team,
nav.about .about,
nav.contact .contact{
	background-color:#088efb;
}

.navigationTabs a{
	font-weight: 500;
}

.navigationTabs i{
	vertical-align: text-bottom;;
}

i.material-icons {
	font-size:16px;
}

p b{
	color:#ffffff;
	display:inline-block;
	padding:5px 10px;
	background-color:#DC64C6;
	border-radius:2px;ize:22px;
	font-weight:bold;
	text-transform:uppercase;
	font-size:18px;
}

/*-------------------------
	Custom CSS
-------------------------*/
html,
body{
 background:white;
}

h1, h2, h3, h4 , h5{
  margin: 0px;
}

.header{
  text-align: center;
}

.header.hearthstone{
  padding:20px 0px;
  border-bottom: 1px solid #c3c3c3;
}

.header.portfolio{
  padding:20px 0px;
  border-bottom: 1px solid #c3c3c3;
}

.main img {
  max-width: 100%;
  height: auto;
}

md-progress-circular svg {
  position:static !important;
}

/*-------------------------
	Project Listings
-------------------------*/
project-card md-card {
  background: #fff3dc;
}

/*-------------------------
	Content
-------------------------*/
.content {
	padding-top: 20px;
  margin: 0px 20%;
  text-align: center;
	background: white;
	height:100vh;
}

/*-------------------------
	Hearthstone
-------------------------*/
.search, .expansion {
  padding-top: 20px;
}
.fade.ng-hide {
  opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  display: block !important;
}

.fade.ng-hide-remove {
  transition: all linear 350ms;
}

.fade.ng-hide-add {
  transition: all linear 200ms;
}

/*-------------------------
	Profile
-------------------------*/
.bioImage img {
	height:175px;
	border-radius: 100px;
}

.bioHeader {
	padding: 10px;
}

#bioName p{
	font-size: 48px;
	margin-bottom: 0px;
}

#bioDetail{
	font-size: 12px;
	padding:15px;
}

.content.bio i{
	font-size:100px;
}

.bioEducation {
	margin-top:20px;
}

hr.vertical
{
   width: 0px;
   height: 12%; /* or height in PX */
	 margin-top: 2%;
	 margin-left: 0px;
	 margin-right: 0px;
}

.personalBack {
  background: black;
}

.personalTab img {
  padding: 25px;
}

.mainSlider {
  text-align: center;
}

.mainSlider img {
  margin: auto;
  max-height:600px;
}
